<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis magnam asperiores tempore? Similique commodi ex harum omnis odit numquam assumenda exercitationem eligendi enim cum. Assumenda delectus laborum quasi. Provident sapiente minima consequuntur alias. Error sit modi dolores! Illum, officiis voluptatum.</p>
        
    </div>
</div>